<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
              <label for="id">ID</label>
              <input type="text" id="id" class="form-control" formControlName="id">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" formControlName="title">
            </div>      
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                  <label for="author">Author</label>
                  <select id="author" class="form-control" formControlName="author">
                    <option value="DanVictorRusu">Dan Victor Rusu</option>
                    <option value="LaszloToth">Laszlo Toth</option>
                    <option value="EelcoOsseweijer">Eelco Osseweijer</option>                    
                  </select>
              </div>       
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                    <label for="publisher">Publisher</label>
                    <input type="text" id="publisher" class="form-control" formControlName="publisher">
                </div>          
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                    <label for="edition">Edition</label>
                    <input type="text" id="edition" class="form-control" formControlName="edition">
                </div>          
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" id="isbn" class="form-control" formControlName="isbn">
                </div>          
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                    <label for="publishingDate">Publishing Date</label>
                    <input type="text" id="publishingDate" class="form-control" formControlName="publishingDate">
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12" formArrayName="chapters">
              <div class="row">
                <div class="col-xs-8">
                  <label for="title">Title</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-xs-2">
                    <label for="startingPage">Start Page</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-xs-2">
                    <label for="noOfPages">No of Pages</label>
                    <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
    </form>
  </div>
</div>


  
    
    
    
    
    

